#txt2img_container_aspect_ratio,
#img2img_container_aspect_ratio {
	gap: 10px !important;
	margin: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 0px;  
}

#txt2img_row_aspect_ratio,
#txt2img_row_resolutions,
#img2img_row_aspect_ratio,
#img2img_row_resolutions {
	margin: 2px;
	gap: 10px;
}

#txt2img_row_aspect_ratio button,
#txt2img_row_resolutions button,
#img2img_row_aspect_ratio button,
#img2img_row_resolutions button {
	margin: 0px;
	gap: 10px !important;
	max-width: unset !important;
}
